* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
    border: 0;
    outline: none;
}

body {
    line-height: 1.64;
    font-size: 16px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px;
    background-color: gainsboro;
}

h1 {
    font-size: 50px;
    font-weight: 500;
}

h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: normal;
    margin: 20px auto;
}

span {
    font-weight: bold;
    font-size: 20px;
}

a {
    font-size: 20px;
    padding-left: 50px;
}

.images {
        display: flex;
}

img {
    margin: 20px;
}